* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

h2 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #33485d;
}

.white-box {
  color: #33485d;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-box:hover {
  background-color: #ededed;
}

.white-box i {
  margin-bottom: 25px;
  font-size: 30px;
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo {
  max-width: 100px;
  max-height: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.content {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.contact a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.contact p {
  margin: 0px 0px 10px 0px;
}

.contact h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
footer a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: #ddd;
}

@media screen and (max-width: 374px) {
  footer {
    flex-direction: column;
  }

  .visitors{
    margin-bottom: 20px;
  }
}