* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.logo{
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 400px;
  margin-bottom: 50px;
}
